@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    flex-direction: column;
}
.qr_img {
    width: 90%;
    padding: 0.8em 1em;
}
.qr_img img {
    width: 100%;
    border-radius: 0.5em;
}
.info {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1em 1.2em 1em;
    text-align: center;
}
.title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    padding: 0.5em 0;
    line-height: 1.2em;
}
.content {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
}
.attribution { 
    position: fixed;
    bottom: 1em;
    font-size: 11px; 
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

